.placeholder{
  width: 100%;
  height: 10px;
}
div.App {
  position: fixed;
  bottom: 0;
  width: 100%;
}
ul.App {
  padding: 0%;
  display: flex;
  margin: 0 auto;
  background-color:#F0F0F0;
  opacity: 1;
}

ul.App li {
  list-style: none;
  text-align: center;
  flex: 1;
  
}
ul.App li:hover {
  background-color:#87CEFA;
}
a {
  text-decoration: none;
  width: 100%;
  display: block;
}
a:visited {
  color: none;
}
